header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 0 3%;
  color: #a9c3c5;
  background-color: #05083a;
}

header h2 {
  margin: 0;
}

button {
  padding: 0.3% 1.5%;
  color: #a9c3c5;
  background-color: darkcyan;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 2px #a9a9a96e;
  transition: 0.2s;
}

button:active {
  transform: translateY(1px);
  box-shadow: 1px 2px 2px 0.5px #a9a9a96e;
}

button:focus {
  outline: none;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 2%;
}

h4 {
  padding: 0.3% 0 0.3% 2%;
  background-color: #c3beae;
}

.tables-header {
  color: inherit;
  background-color: inherit;
}

table {
  width: 100%;
  margin: 0 auto;
}

table, th, tr, td {
  border-collapse: collapse;
  border: 0.5px solid;
}

tr {
  line-height: 1.6rem;
}

tbody tr:hover {
  background-color: #ced5e1;
}

td {
  width: 20%;
  text-align: center;
}

td img {
  vertical-align: middle;
  padding: 0 6%;
}
