header{
  display: flex;
  align-items: center;
  height: 7vh;
  padding: 0 3%;
  color: #a9c3c5;
  background-color: #05083a;
}

header h2 {
  margin: 0;
}

main {
  width: 90vw;
  margin: 0 auto;
  /* background-color: #f5f5dc; */
  /* height: 87.5vh; */
  padding: 2%;
  /* overflow: hidden; */
}

h3 {
  padding: 0.3% 0 0.3% 2%;
  background-color: #c3beae;
}

/* main p {
  padding: .5% 1%;
  background-color: #5f9ea0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 5px 0px #1c2c2c6e;
  transition: .3s
}

main p:hover {
  box-shadow: 3px 3px 5px 1.5px #1c2c2c6e;
} */

table {
  width: 100%;
  margin: 0 auto;
}

table, th, tr, td {
  border-collapse: collapse;
  border: 0.5px solid;
}

tr {
  line-height: 1.6rem;
}

tbody tr:hover {
  background-color: #bbd4ff;
}

td {
  width: 20%;
  text-align: center;
}
